/* Root styles can go here */
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, input, textarea, select, button {
  color: $font-color;
  font-family: $font-family;
  font-size: 24px;
}

.todo-list-container {
  width: 250px;
  margin: auto;
}

.draft-todo input {
  border-width: 0 0 3px;
}

.draft-todo input:focus {
  outline: none;
  border-color: $primary-color;
}

.todo-item--completed {
  color: lightgray;

  .todo-item__label {
    text-decoration: line-through;
  }
}

.todo-item__label {
  padding-left: 5px;
  display: inline-block;
}

.todo-item__checkbox {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
