/* Root styles can go here */
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, input, textarea, select, button {
  color: $font-color;
  font-family: $font-family;
  font-size: 24px;
}

.todo-list-container {
  width: 305px;
  margin: auto;
  box-shadow: -1px 1px 6px 1px rgba(0, 0, 0, 0.12);
  padding: 15px;
  border-radius: 2px;
}

.draft-todo input {
  border-width: 0 0 3px;
}

.draft-todo input:focus {
  outline: none;
  border-color: $primary-color;
}

.todo-item--completed {
  color: lightgray;

  .todo-item__label {
    text-decoration: line-through;
  }
}

.todo-item__label {
  padding-left: 5px;
  display: inline-block;
}

.icon-btn {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.alert-message {
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  transform: (-50%, 0);
  font-size: 14px;
  color: white;
  background-color: gray;
  padding: 15px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 3px 3px 0 0;
}

.alert-message--hidden {
  transform: translateY(50px);
  visibility: hidden;
}


/* Elm Debugger */
.elm-mini-controls {
  font-size: 13px;
}
